{{> site-header}}
<div class="content">
	<h2>{{this.page.title}}</h2>
	{{#markdown}}
		{{> body}}
	{{/markdown}}
</div>
<hr>

<section class="blog">
	<!-- face -->
	<div>
		<ul>
			{{#withSort post 'data.date'}}
				{{#each this.pages }}
					<li>{{this.data.title}}</li>
				{{/each}}
			{{/withSort}}
		</ul>
	</div>
</section>
{{> site-footer}}
