{{> site-header}}
<div class="content">
	<h2>{{this.page.title}}</h2>
	{{#markdown}}
	{{> body}}
	{{/markdown}}
</div>
<section class="blog">
<div>
	<ul>
	{{#withSort}}
		{{#each this.page}}
		<li>{{this.data.title}}</li>
		{{/each}}
		{{/withSort}}
	</ul>
	</div>
</section>
{{> site-footer}}
